# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Logs
*.log
logs/

# Python Package
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg-info/

# Distribution / Packaging
.Python
develop-eggs/
lib/
lib64/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg-info/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# C extensions
*.so

# SQLite databases
*.sqlite3

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.idea/
